body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: darkgray;
}

.container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  grid-auto-rows: minmax(200px, 240px);
}

.item {
  background: #fff;
  border: 1px solid;
  font-size: 1.4em;
  padding: 10px;
}
